* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;
  font-size: 62.5%;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



body {
  margin: 0 auto;
  display: flex;
}

header {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  color: #dddddd;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  color: hotpink;
  font-weight: bold;
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px hotpink);
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
    filter: drop-shadow(0px 0px 10px #03696b);

}

p, span {
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: center;
}

ul li{
  cursor: pointer;
  transition: all ease-in-out .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul li:hover{
  transform: scale(1.1);
}

ul li:nth-child(1) {
  color: #06d311;
  filter: drop-shadow(0px 0px 10px #06d311);
}

ul li:nth-child(2) {
  color: #d371fa;
  filter: drop-shadow(0px 0px 10px #d371fa);
}

ul li:nth-child(3) {
  color: #2ac1e7;
  filter: drop-shadow(0px 0px 10px #2ac1e7);
}

ul li:nth-child(4) {
  color: #f17979;
  filter: drop-shadow(0px 0px 10px #f17979);
}

ul li:nth-child(5) {
  color: #f7dd8b;
  filter: drop-shadow(0px 0px 10px #f7dd8b);
}

#navigation ul{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
}



@media screen and (min-width: 500px)  {
  #navigation ul{
    margin-top: 150px;
  flex-direction: row;
  transform: scale(0.8);
  
}
}

@media screen and (min-width: 700px)  {
  #navigation ul{

  flex-direction: row;
  transform: scale(1);
  
}

header {
  flex-direction: row;

}
}